In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv(r'https://raw.githubusercontent.com/WidhyaOrg/datasets/master/instagram_reach.csv')
data.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [3]:
data.columns

Index(['Unnamed: 0', 'S.No', 'USERNAME', 'Caption', 'Followers', 'Hashtags',
       'Time since posted', 'Likes'],
      dtype='object')

In [4]:
data.shape

(100, 8)

In [6]:
df = data[['Followers','Time since posted','Likes']]

In [7]:
df.head()

   Followers Time since posted  Likes
0       1600          11 hours    139
1        880           2 hours     23
2        255           2 hours     25
3        340           3 hours     49
4        304           3 hours     30

In [9]:
df.shape

(100, 3)

In [10]:
df['Time_Since_Posted'] = df['Time since posted'].apply(lambda x: int(x.split(' ')[0]))
df.head()

<ipython-input-10-fb79a887fc46>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time_Since_Posted'] = df['Time since posted'].apply(lambda x: int(x.split(' ')[0]))

   Followers Time since posted  Likes  Time_Since_Posted
0       1600          11 hours    139                 11
1        880           2 hours     23                  2
2        255           2 hours     25                  2
3        340           3 hours     49                  3
4        304           3 hours     30                  3

In [11]:
df.drop('Time since posted',inplace=True,axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [12]:
df.head()

   Followers  Likes  Time_Since_Posted
0       1600    139                 11
1        880     23                  2
2        255     25                  2
3        340     49                  3
4        304     30                  3

In [14]:
df.dtypes

Followers            int64
Likes                int64
Time_Since_Posted    int64
dtype: object

In [16]:
df.isnull().sum()

Followers            0
Likes                0
Time_Since_Posted    0
dtype: int64

In [27]:
a = df[['Followers','Time_Since_Posted']]
b = df['Likes']

In [29]:
X = a.values
y = b.values

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [33]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [36]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 33.56  25.  ]
 [ 47.8   43.  ]
 [ 33.53  25.  ]
 [196.01 349.  ]
 [ 39.87 119.  ]
 [ 33.32  20.  ]
 [ 47.59  29.  ]
 [ 39.32  10.  ]
 [ 75.39  65.  ]
 [ 41.5   31.  ]
 [ 47.05  24.  ]
 [ 33.13  12.  ]
 [ 33.51  12.  ]
 [ 97.19  94.  ]
 [ 50.73  86.  ]
 [ 35.1   90.  ]
 [ 35.68  20.  ]
 [ 33.29  10.  ]
 [ 34.5   30.  ]
 [ 46.85  22.  ]]

In [40]:
from sklearn import metrics
mse = (metrics.mean_squared_error(y_test, y_pred))
mse.round(2)

1928.64