In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
dataset = pd.read_csv('flights.csv', low_memory = False)

In [3]:
dataset.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
dataset.shape

(5819079, 31)

In [5]:
dataset = dataset.iloc[:100000,:]

In [6]:
dataset.shape

(100000, 31)

In [7]:
dataset['DIVERTED'].value_counts()

0    99776
1      224
Name: DIVERTED, dtype: int64

In [8]:
dataset.corr()

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
YEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MONTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DAY,NaN,NaN,1.000000,-0.497084,0.004412,-0.138130,-0.124369,0.060064,0.093451,-0.119781,...,-0.110820,-0.091687,0.070770,0.004847,-0.006000,0.097693,-0.010550,-0.001603,0.033213,0.061960
DAY_OF_WEEK,NaN,NaN,-0.497084,1.000000,0.010955,0.046914,0.045182,0.055632,0.007291,0.044150,...,0.031725,0.011477,0.067520,-0.000709,-0.006409,-0.019626,0.008156,0.003648,0.033729,-0.050835
FLIGHT_NUMBER,NaN,NaN,0.004412,0.010955,1.000000,-0.003027,0.010140,0.034863,0.061010,0.016377,...,-0.018891,0.000753,0.056163,0.007155,0.090008,-0.032564,-0.007260,0.023770,0.076581,0.004246
SCHEDULED_DEPARTURE,NaN,NaN,-0.138130,0.046914,-0.003027,1.000000,0.943186,0.174254,-0.081496,0.912232,...,0.731240,0.552653,0.154951,0.002515,-0.002631,-0.112393,-0.017957,-0.054419,0.186286,-0.042004
DEPARTURE_TIME,NaN,NaN,-0.124369,0.045182,0.010140,0.943186,1.000000,0.243960,-0.070081,0.966477,...,0.734970,0.584615,0.223654,0.006576,0.009679,-0.093096,-0.012820,-0.013304,0.247325,-0.046406
DEPARTURE_DELAY,NaN,NaN,0.060064,0.055632,0.034863,0.174254,0.243960,1.000000,0.061905,0.231399,...,0.155150,0.079639,0.950838,0.020787,0.030862,0.085794,0.008040,0.606954,0.605289,0.210402
TAXI_OUT,NaN,NaN,0.093451,0.007291,0.061010,-0.081496,-0.070081,0.061905,1.000000,-0.043114,...,-0.062325,-0.045611,0.245363,0.009810,0.010763,0.407371,-0.008021,-0.024674,-0.129879,0.119412
WHEELS_OFF,NaN,NaN,-0.119781,0.044150,0.016377,0.912232,0.966477,0.231399,-0.043114,1.000000,...,0.744697,0.608611,0.217344,0.006524,0.001293,-0.085582,-0.013912,-0.017376,0.223010,-0.055273
SCHEDULED_TIME,NaN,NaN,-0.026285,0.019755,-0.337801,-0.019873,-0.031873,0.005868,0.096191,-0.038173,...,0.035598,0.014674,-0.022043,0.015000,-0.074084,0.056865,0.009740,0.032593,-0.084673,-0.001975
ELAPSED_TIME,NaN,NaN,-0.018470,0.029025,-0.318819,-0.025744,-0.035204,0.015257,0.215749,-0.038217,...,0.031223,0.016711,0.048448,NaN,NaN,0.190842,0.007724,0.009438,-0.118290,0.014470
AIR_TIME,NaN,NaN,-0.036330,0.030678,-0.339135,-0.011993,-0.024384,0.002733,0.077234,-0.031646,...,0.041368,0.022517,-0.002742,NaN,NaN,0.072436,0.010442,0.022433,-0.096358,-0.006582
DISTANCE,NaN,NaN,-0.035208,0.024666,-0.356196,0.000321,-0.016562,0.004591,0.057871,-0.027282,...,0.044615,0.017333,-0.023821,0.013996,-0.076796,0.041963,0.011547,0.030500,-0.086155,-0.010430
WHEELS_ON,NaN,NaN,-0.095731,0.013749,-0.003670,0.585786,0.618850,0.090696,-0.045096,0.642358,...,0.799303,0.959177,0.088131,-0.000289,NaN,-0.049010,-0.012903,-0.056574,0.054199,-0.057202
TAXI_IN,NaN,NaN,0.037407,-0.017789,0.014464,-0.027502,-0.017759,0.040285,0.009041,-0.015089,...,-0.001440,0.012095,0.170073,0.006915,NaN,0.299436,-0.005075,-0.051595,-0.004698,-0.018058
SCHEDULED_ARRIVAL,NaN,NaN,-0.110820,0.031725,-0.018891,0.731240,0.734970,0.155150,-0.062325,0.744697,...,1.000000,0.771945,0.140565,0.005992,-0.013131,-0.064453,-0.008270,-0.050435,0.146386,-0.043930
ARRIVAL_TIME,NaN,NaN,-0.091687,0.011477,0.000753,0.552653,0.584615,0.079639,-0.045611,0.608611,...,0.771945,1.000000,0.076791,-0.002489,NaN,-0.052236,-0.014825,-0.057557,0.050115,-0.058355
ARRIVAL_DELAY,NaN,NaN,0.070770,0.067520,0.056163,0.154951,0.223654,0.950838,0.245363,0.217344,...,0.140565,0.076791,1.000000,NaN,NaN,0.259700,0.006070,0.592718,0.572956,0.235906
DIVERTED,NaN,NaN,0.004847,-0.000709,0.007155,0.002515,0.006576,0.020787,0.009810,0.006524,...,0.005992,-0.002489,NaN,1.000000,-0.007413,NaN,NaN,NaN,NaN,NaN
CANCELLED,NaN,NaN,-0.006000,-0.006409,0.090008,-0.002631,0.009679,0.030862,0.010763,0.001293,...,-0.013131,NaN,NaN,-0.007413,1.000000,NaN,NaN,NaN,NaN,NaN
AIR_SYSTEM_DELAY,NaN,NaN,0.097693,-0.019626,-0.032564,-0.112393,-0.093096,0.085794,0.407371,-0.085582,...,-0.064453,-0.052236,0.259700,NaN,NaN,1.000000,-0.014622,-0.106087,-0.136411,0.019507
SECURITY_DELAY,NaN,NaN,-0.010550,0.008156,-0.007260,-0.017957,-0.012820,0.008040,-0.008021,-0.013912,...,-0.008270,-0.014825,0.006070,NaN,NaN,-0.014622,1.000000,-0.009884,-0.012136,0.000274
AIRLINE_DELAY,NaN,NaN,-0.001603,0.003648,0.023770,-0.054419,-0.013304,0.606954,-0.024674,-0.017376,...,-0.050435,-0.057557,0.592718,NaN,NaN,-0.106087,-0.009884,1.000000,-0.084750,-0.056336
LATE_AIRCRAFT_DELAY,NaN,NaN,0.033213,0.033729,0.076581,0.186286,0.247325,0.605289,-0.129879,0.223010,...,0.146386,0.050115,0.572956,NaN,NaN,-0.136411,-0.012136,-0.084750,1.000000,-0.021674
WEATHER_DELAY,NaN,NaN,0.061960,-0.050835,0.004246,-0.042004,-0.046406,0.210402,0.119412,-0.055273,...,-0.043930,-0.058355,0.235906,NaN,NaN,0.019507,0.000274,-0.056336,-0.021674,1.000000

In [9]:
dataset = dataset.drop(['YEAR','FLIGHT_NUMBER','AIRLINE','DISTANCE','TAIL_NUMBER','TAXI_OUT','SCHEDULED_TIME','DEPARTURE_TIME','WHEELS_OFF','ELAPSED_TIME','AIR_TIME','WHEELS_ON','DAY_OF_WEEK','TAXI_IN','ARRIVAL_TIME','CANCELLATION_REASON'],axis=1)

In [10]:
dataset.shape

(100000, 15)

In [11]:
missing_data = dataset.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

MONTH
False    100000
Name: MONTH, dtype: int64

DAY
False    100000
Name: DAY, dtype: int64

ORIGIN_AIRPORT
False    100000
Name: ORIGIN_AIRPORT, dtype: int64

DESTINATION_AIRPORT
False    100000
Name: DESTINATION_AIRPORT, dtype: int64

SCHEDULED_DEPARTURE
False    100000
Name: SCHEDULED_DEPARTURE, dtype: int64

DEPARTURE_DELAY
False    97702
True      2298
Name: DEPARTURE_DELAY, dtype: int64

SCHEDULED_ARRIVAL
False    100000
Name: SCHEDULED_ARRIVAL, dtype: int64

ARRIVAL_DELAY
False    97387
True      2613
Name: ARRIVAL_DELAY, dtype: int64

DIVERTED
False    100000
Name: DIVERTED, dtype: int64

CANCELLED
False    100000
Name: CANCELLED, dtype: int64

AIR_SYSTEM_DELAY
True     65375
False    34625
Name: AIR_SYSTEM_DELAY, dtype: int64

SECURITY_DELAY
True     65375
False    34625
Name: SECURITY_DELAY, dtype: int64

AIRLINE_DELAY
True     65375
False    34625
Name: AIRLINE_DELAY, dtype: int64

LATE_AIRCRAFT_DELAY
True     65375
False    34625
Name: LATE_AIRCRAFT_DELAY, dtype: int64

WEATHER_DELAY
True     65375
False    34625
Name: WEATHER_DELAY, dtype: int64

In [13]:
dataset.fillna(dataset.mean(),inplace=True)

In [14]:
missing_data = dataset.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

MONTH
False    100000
Name: MONTH, dtype: int64

DAY
False    100000
Name: DAY, dtype: int64

ORIGIN_AIRPORT
False    100000
Name: ORIGIN_AIRPORT, dtype: int64

DESTINATION_AIRPORT
False    100000
Name: DESTINATION_AIRPORT, dtype: int64

SCHEDULED_DEPARTURE
False    100000
Name: SCHEDULED_DEPARTURE, dtype: int64

DEPARTURE_DELAY
False    100000
Name: DEPARTURE_DELAY, dtype: int64

SCHEDULED_ARRIVAL
False    100000
Name: SCHEDULED_ARRIVAL, dtype: int64

ARRIVAL_DELAY
False    100000
Name: ARRIVAL_DELAY, dtype: int64

DIVERTED
False    100000
Name: DIVERTED, dtype: int64

CANCELLED
False    100000
Name: CANCELLED, dtype: int64

AIR_SYSTEM_DELAY
False    100000
Name: AIR_SYSTEM_DELAY, dtype: int64

SECURITY_DELAY
False    100000
Name: SECURITY_DELAY, dtype: int64

AIRLINE_DELAY
False    100000
Name: AIRLINE_DELAY, dtype: int64

LATE_AIRCRAFT_DELAY
False    100000
Name: LATE_AIRCRAFT_DELAY, dtype: int64

WEATHER_DELAY
False    100000
Name: WEATHER_DELAY, dtype: int64

In [15]:
dataset.head()

,MONTH,DAY,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,1,1,ANC,SEA,5,-11.0,430,-22.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971
1,1,1,LAX,PBI,10,-8.0,750,-9.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971
2,1,1,SFO,CLT,20,-2.0,806,5.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971
3,1,1,LAX,MIA,20,-5.0,805,-9.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971
4,1,1,SEA,ANC,25,-1.0,320,-21.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971

In [18]:
dataset[dataset['ARRIVAL_DELAY']>15]

,MONTH,DAY,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
27,1,1,MSP,FLL,115,12.000000,542,25.000000,0,0,25.000000,0.000000,0.000000,0.000000,0.000000
30,1,1,PHX,ORD,125,72.000000,549,43.000000,0,0,43.000000,0.000000,0.000000,0.000000,0.000000
32,1,1,ANC,SEA,135,19.937749,600,18.342304,0,1,14.026801,0.070787,17.853921,26.014556,2.751971
42,1,1,PHX,DFW,200,19.937749,500,18.342304,0,1,14.026801,0.070787,17.853921,26.014556,2.751971
50,1,1,BQN,MCO,307,-3.000000,500,20.000000,0,0,20.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99983,1,7,DEN,AUS,1106,11.000000,1407,29.000000,0,0,18.000000,0.000000,11.000000,0.000000,0.000000
99984,1,7,DEN,GUC,1106,101.000000,1207,154.000000,0,0,73.000000,0.000000,53.000000,28.000000,0.000000
99985,1,7,RIC,ORD,1106,-11.000000,1230,32.000000,0,0,32.000000,0.000000,0.000000,0.000000,0.000000
99988,1,7,DEN,CLE,1107,69.000000,1558,82.000000,0,0,13.000000,0.000000,0.000000,11.000000,58.000000
99992,1,7,ORD,DEN,1107,24.000000,1249,25.000000,0,0,25.000000,0.000000,0.000000,0.000000,0.000000

In [19]:
conditions = [
    (dataset['ARRIVAL_DELAY'] < 15),
    (dataset['ARRIVAL_DELAY'] > 15)
    ]
values = ['0','1']
dataset['Predict'] = np.select(conditions, values)
dataset.head()

,MONTH,DAY,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,Predict
0,1,1,ANC,SEA,5,-11.0,430,-22.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0
1,1,1,LAX,PBI,10,-8.0,750,-9.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0
2,1,1,SFO,CLT,20,-2.0,806,5.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0
3,1,1,LAX,MIA,20,-5.0,805,-9.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0
4,1,1,SEA,ANC,25,-1.0,320,-21.0,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0

In [20]:
dataset[dataset.ARRIVAL_DELAY>15]

,MONTH,DAY,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,Predict
27,1,1,MSP,FLL,115,12.000000,542,25.000000,0,0,25.000000,0.000000,0.000000,0.000000,0.000000,1
30,1,1,PHX,ORD,125,72.000000,549,43.000000,0,0,43.000000,0.000000,0.000000,0.000000,0.000000,1
32,1,1,ANC,SEA,135,19.937749,600,18.342304,0,1,14.026801,0.070787,17.853921,26.014556,2.751971,1
42,1,1,PHX,DFW,200,19.937749,500,18.342304,0,1,14.026801,0.070787,17.853921,26.014556,2.751971,1
50,1,1,BQN,MCO,307,-3.000000,500,20.000000,0,0,20.000000,0.000000,0.000000,0.000000,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99983,1,7,DEN,AUS,1106,11.000000,1407,29.000000,0,0,18.000000,0.000000,11.000000,0.000000,0.000000,1
99984,1,7,DEN,GUC,1106,101.000000,1207,154.000000,0,0,73.000000,0.000000,53.000000,28.000000,0.000000,1
99985,1,7,RIC,ORD,1106,-11.000000,1230,32.000000,0,0,32.000000,0.000000,0.000000,0.000000,0.000000,1
99988,1,7,DEN,CLE,1107,69.000000,1558,82.000000,0,0,13.000000,0.000000,0.000000,11.000000,58.000000,1
99992,1,7,ORD,DEN,1107,24.000000,1249,25.000000,0,0,25.000000,0.000000,0.000000,0.000000,0.000000,1

In [21]:
len(dataset.columns)

16

In [34]:
df1 = dataset.copy()

In [35]:
df1 = df1[['MONTH','DAY','SCHEDULED_DEPARTURE','DEPARTURE_DELAY', 'SCHEDULED_ARRIVAL','DIVERTED','CANCELLED','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY','LATE_AIRCRAFT_DELAY','WEATHER_DELAY','Predict']]

In [36]:
df1.head()

,MONTH,DAY,SCHEDULED_DEPARTURE,DEPARTURE_DELAY,SCHEDULED_ARRIVAL,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,Predict
0,1,1,5,-11.0,430,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0
1,1,1,10,-8.0,750,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0
2,1,1,20,-2.0,806,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0
3,1,1,20,-5.0,805,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0
4,1,1,25,-1.0,320,0,0,14.026801,0.070787,17.853921,26.014556,2.751971,0

In [37]:
X = df1.iloc[:, :-1].values
y = df1.iloc[:, -1].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [38]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [39]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [41]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = classifier.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[19127    13]
 [   29 10831]]

0.9986